@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
.tour__img img{
    width: 100%;
    border-radius: 5px 5px 0 0;

}
.card:hover {
    color: rgb(13, 136, 193);
    transform: scale(1.05);
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 10px;
    background-image: linear-gradient(
      var(--rotate)
      , #bfd5e6, #87beda 43%, #680f88);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 3s linear infinite;
}
.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #fbfcff 43%, #ffffff);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

.card{
    border: none !important;
    box-shadow:rgba(0,0,0,0.2) 0px 18px 50px -10px ;

}
.tour__img{
    position: relative;

}
.tour__img span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 10;
    background: #06C4C1;
    color: #fff;

    padding:0.3rem 0.5rem ;
    border-radius: 3px 0 0 0 ;

}

.card__top span i{
    color: #06C4C1;

}
.tour__rating{
    font-size:.9rem;
     color: var(--text-color);

}
.tour__location{
    color: var(--heading-color);
    font-weight: bold;
    font-size: .9rem;
}
.tour__rating i, .tour__location i{
    font-size: 1rem;

}
.tour__title{
    margin-top: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}
.tour__title a{
    text-decoration: none;
    color: var(--heading-color);
    transition: 0.3s;
}
.tour__title a:hover{
    color:#06C4C1 ;

}
.card__bottom h5{
    color:#06C4C1 ;
    font-size: 1.1rem;
    font-weight: bolder;

}
.card__bottom h5 span{
    font-weight: bold;
    color:var(--text-color) ;
    font-size: .8rem;

}
.booking__btn{
    background: #06C4C1 !important;
    cursor: pointer;
    padding: 0.2rem 0.5rem !important;

}
.booking__btn a{
    text-decoration:  none;
    font-size: .9rem;
    color: #fff;

}
.booking__btn a:hover{
    color: #fff;

}
@media only screen and (max-width:992px){
    .tour__title{
        font-size: 1rem;

    }
    .booking__btn a{
        font-size: .8rem;

    }
    .booking__btn{
        padding: .3rem .5rem !important;

    }
    .tour__location, .tour__rating{
        font-size: .8rem;
        
    }
}